<!DOCTYPE html>
<html>
<head>
    <title>Get Member</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <h1>Get Member</h1>
    <input type="text" v-model="inputId" placeholder="Enter member id">
    <button @click="getMember">Search</button>
    <div v-if="member">
        <h2>Member Details:</h2>
        <label>ID: {{ member.id }}</label><br>
        <label>Name: {{ member.name }}</label><br>
        <label>Email: {{ member.mail_address }}</label><br>
        <label>Status: {{ member.status }}</label><br>
    </div>
</div>

<script>
    const app = Vue.createApp({
        data() {
            return {
                inputId: '',
                member: null
            }
        },
        methods: {
            getMember() {
                axios.get(`/members/${this.inputId}`)
                    .then(response => (this.member = response.data));
            }
        },
        mounted() {
            const urlParams = new URLSearchParams(window.location.search);
            const id = urlParams.get('id');
            if (id) {
                this.inputId = id;
                this.getMember();
            }
        }
    });
    app.mount('#app');
</script>
</body>
</html>